.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

#profile__img {
  display: block;
  border-radius: 50%;
  width: 88px;
  height: 88px;
}

#profile__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0;
  color: #101828;
}

@media only screen and (max-width: 1024px) {
  #profile__name {
    font-size: 18px;
    line-height: 28px;
  }
}
