.App {
  font-family: "Inter", sans-serif;
  font-style: normal;
  padding: 2.8rem;
  margin: 0 4.2rem;
}

.back {
  margin-top: 28px;
  text-align: end;
  display: block;
}

.arrow {
  display: inline;
  padding-right: 15%;
}

.dot {
  display: none;
  padding-right: 15%;
}

@media only screen and (max-width: 1024px) {
  .App {
    padding: 1.2rem;
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  .App {
    padding: 1rem;
    margin: 0;
  }

  .arrow {
    display: none;
  }

  .dot {
    display: inline;
  }
}
