.app {
  font-family: "Inter", sans-serif;
  font-style: normal;
  padding: 0 5rem;
  margin: 0;
}

.back {
  margin-top: 28px;
  text-align: end;
  display: block;
}

.arrow {
  display: inline;
  padding-right: 15%;
}

.dot {
  display: none;
  padding-right: 15%;
}

@media only screen and (max-width: 1024px) {
  .app {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .app {
    padding: 0 1rem;
  }

  .arrow {
    display: none;
  }

  .dot {
    display: inline;
  }
}
