.App {
  font-family: "Inter";
  font-style: normal;
  padding: 2.8rem;
  margin: 0 4.2rem;
}

.back {
  margin-top: 28px;
  text-align: end;
  display: block;
}

.arrow {
  display: inline;
  padding-right: 33%;
}

.dot {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .arrow {
    display: none;
  }

  .dot {
    display: inline;
  }
}
