.btn__link {
  display: block;
  background-color: #eaecf0;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  text-align: center;
  padding: 24px 32px;
  margin-bottom: 24px;
  text-decoration: none;
  width: 52%;
  color: #101828;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 0 #0000;
  transition: all 0.5s cubic-bezier(0.17, 0.67, 0.68, 0.64);
}

@media only screen and (max-width: 1024px) {
  .btn__link {
    width: 81%;
  }
}
